header {
  background: transparent;
  
  .container {
    nav {
      a {
        opacity: 1;
      }
    }
  }
}

.index-page {

  .first {
    background-image: url('/assets/images/index/first.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;

    &::before {
      content: '';
      background: rgba($color: #000000, $alpha: 0.75);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
    }

    .container {
      position: relative;
      z-index: 1;
      height: 840px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      .logo {
        margin-bottom: 60px;
      }

      .H1 {
        text-transform: uppercase;
      }

      .bottom {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 120px 0;

        .body-3-salara {
          font-weight: 700;
        }
      }
    }

    @media screen and (max-width: 912px) {
      .container {
        height: 640px;
        text-align: center;

        .logo {
          margin-bottom: 30px;
          svg {
            width: 300px;
            height: auto;
          }
        }

        .bottom {
          margin: 60px 0 100px 0;
        }
      }
    }
  }
  
  .second {
    background-color: var(--color-black);
    border-radius: 48px;
    padding: 180px 0;
    margin-bottom: 5px;

    .container {
      .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        .H0 {
          max-width: 1000px;
          font-weight: 500;
        }
        .body-1 {
          color: var(--color-orange);
        }
      }

      .list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        justify-content: space-between;

        .block {
          position: relative;
          padding: 25px 25px 25px 0;

          .border {
            width: 50%;
            max-height: 230px;
            top: 0;
            bottom: 0;
            right: 0;
            border: 1px solid #563B12;
            border-radius: 40px;
            position: absolute;
          }
          .content {
            width: max-content;
            padding-bottom: 50px;
            background-color: var(--color-black);
            box-shadow: 20px -15px 40px 0px var(--color-black);
            position: relative;
            z-index: 1;

            .number {
              font-family: "Sarala", sans-serif;
              font-size: 140px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%;
            }
            .text {
              max-width: 250px;
              color: var(--color-orange);
            }
          }
        }
      }
    }

    @media screen and (max-width: 1250px) {
      padding: 100px 0;
      .container {
        .top {
          width: 80%;
          margin: 0 auto;
          flex-direction: column;
          margin-bottom: 50px;
        }
        .list {
          grid-template-columns: repeat(2, 300px);
          justify-content: space-around;
        }
      }
    }

    @media screen and (max-width: 912px) {
      padding: 80px 0 40px 0;
      .container {
        .top {
          margin-bottom: 30px;

          .H0 {
            font-size: 32px;
          }
        }
        .list {
          grid-template-columns: repeat(2, 150px);
          .block {
            .border {
              width: 70%;
              max-height: 150px;
            }
            .content {
              .number {
                font-size: 48px;
              }
              .text {
                max-width: 100px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    
  }

  .third {
    background-color: var(--color-black);
    padding: 150px 0;
    border-radius: 40px;
    margin-bottom: 10px;
    position: relative;

    .container {
      .mini-title {
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        color: var(--dark-text);
      }
      .title {
        font-family: "Sarala", sans-serif;
        font-size: 140px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 65px;
      }

      .tabs {
        display: flex;
        align-items: center;
        gap: 64px;
        margin-bottom: 64px;
        overflow: hidden;
        position: relative;
        padding-right: 150px;

        .tab {
          width: auto;
          border-radius: 60px;
          padding: 12px 25px;
        }

        .tab-active {
          background: rgba(234, 140, 0, 0.10);
          font-weight: 700;
          color: var(--color-orange);
        }

        .swiper-wrapper {
          padding-right: 150px;
        }

        .buttons {
          display: flex;
          gap: 4px;
          z-index: 15;
          color: #fff;
          position: absolute;
          right: 0;

          .btn {
            background-color: #2E2C29;
            color: rgba(255, 255, 255, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 48px;
            border-radius: 24px;
            cursor: pointer;
          }

          .btn[aria-disabled=false] {
            background-color: var(--color-orange);
            color: #fff;
            opacity: 1;
          }
        }
      }
    }

    .slider-container {
      display: grid;
      grid-template-columns: repeat(3, 40%);
      align-items: center;
      gap: 4px;
      padding-left: 75px;
      position: relative;
      overflow: hidden;

      .btn {
        width: 150px;
        cursor: pointer;
        height: 100px;
        position: absolute;
        z-index: 15;
        color: rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btn[aria-disabled=false] {
        background-color: var(--color-orange);
        color: #fff;
      }
      .prev {
        border-radius: 0px 60px 60px 0px;
        background: #2E2C29;
      }
      .next {
        border-radius: 60px 0 0 60px;
        margin-right: -5px;
        background: #2E2C29;
        right: 0;
      }

      .swiper-slide {
        display: grid;
        grid-template-rows: 4fr 1fr;
        height: 800px;

        .image {
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
          }
        }
        .info {
          display: flex;
          border: 1px solid #000;
          background: rgba(234, 140, 0, 0.10);
          padding: 30px 60px;

          .H1 {
            margin-bottom: 8px;
          }

          .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: var(--color-orange);
            .count {
              display: flex;
              flex-direction: column;
              align-items: center;

              .number {
                font-family: "Sarala", sans-serif;
                font-size: 56px;
                font-style: normal;
                font-weight: 700;
                line-height: 80%; 
              }
              .text {

              }
            }
          }
        }
      }

    }

    @media screen and (max-width: 1250px) {
      padding: 50px 10px;
      .container {
        .mini-title {
          position: relative;
          top: 0;
          margin-bottom: 15px;
        }
        .title {
          font-size: 72px;
          text-align: center;
        }
      }
      .slider-container {
        grid-template-columns: repeat(2, 60%);
        padding-left: 0;
      }
    }

    @media screen and (max-width: 712px) {
      .slider-container {
        grid-template-columns: repeat(1, 100%);

        .swiper-wrapper {
          .swiper-slide {
            height: 500px;
            .info {
              padding: 15px;
              .left {
                .H1 {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }

  .fourth {
    margin-bottom: 10px;
    .container {
      display: grid;
      grid-template-columns: 2fr 1fr;

      .left {
        background-color: var(--color-black);
        border-radius: 40px 40px 0px 0px;

        margin-left: calc(((var(--container-width) - 100vw) / 2) + 12px);
        padding-left: calc(((100vw - var(--container-width)) / 2) - 10px);
        margin-right: -80px;
        display: flex;
        align-items: center;

        .title {
          font-family: "Sarala", sans-serif;
          font-size: 140px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
        }
      }

      .right {
        background-color: var(--color-black);
        border-radius: 40px 40px 0px 40px;
        border: 1px solid rgba(234, 140, 0, 0.70);
        padding: 120px 0;
        margin-right: calc((( var(--container-width) - 100vw ) / 2) + 11px);
        padding-right: calc((( 100vw - var(--container-width) ) / 2) - 10px);

        .box {
          max-width: 290px;
          margin-left: auto;

          .title {
            margin-bottom: 16px;
          }

          form {
            display: flex;
            flex-direction: column;
            align-items: start;
            input {
              width: 100%;
              border-radius: 58px;
              border: 1px solid #563B12;
              padding: 24px 32px;
              color: var(--color-orange);
              margin-bottom: 4px;
  
              &::placeholder {
                color: var(--color-orange);
                opacity: 0.6;
              }
            }
          }

          .button-3 {
            margin-top: 12px;
          }
        }
      }
    }


    @media screen and (max-width: 1250px) {
      .container {
        grid-template-columns: 1fr;
        .left {
          width: 100%;
          border-radius: 40px;
          margin: 0 auto;
          padding-left: 10px;
          padding: 50px;
          .title {
            font-size: 42px;
          }
        }

        .right {
          border-radius: 40px;
          margin-right: 0;
          padding-right: 0;
          .box {
            margin: auto;
            form {
              input {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .fifth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .title {
      background-color: var(--color-black);
      padding: 35px 0;
      margin-bottom: 2px;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .item {
        background-color: var(--color-black);
        padding-top: 32px;
        padding-bottom: 80px;

        .H1 {
          margin-bottom: 16px;
        }

        .top {
          display: flex;
          align-items: center;
          gap: 17px;
          margin-bottom: 32px;

          .icon {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 32px;
            // border: 1px solid var(--color-orange);
            position: relative;
            &::before {
              content: '';
              background-image: url('data:image/svg+xml,<svg width="101" height="100" viewBox="0 0 101 100" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="-0.5" y="0.5" width="98.791" height="99" rx="31.5" transform="matrix(-1 0 0 1 99.3438 0)" stroke="url(#paint0_linear_486_27830)"/><defs><linearGradient id="paint0_linear_486_27830" x1="8.14621" y1="7.14285" x2="94.5325" y2="36.7781" gradientUnits="userSpaceOnUse"><stop stop-color="#563B12"/><stop offset="1" stop-color="#2E200B" stop-opacity="0"/></linearGradient></defs></svg>');
              display: block;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              position: absolute;
            }
          }
          .name {
            color: var(--color-orange);
            text-decoration: underline;
          }
        }
      }
    }

    .left {
      width: auto;
      border: 2px solid var(--color-orange);

      margin-left: calc(((var(--container-width) - 100vw) / 2) + 5px);
      padding-left: calc(((100vw - var(--container-width)) / 2) - 10px);

      .title {
        margin-left: calc(((var(--container-width) - 100vw) / 2) + 10px);
        padding-left: calc(((100vw - var(--container-width)) / 2) - 10px);
      }

      .list {
        .item {
          margin-left: calc(((var(--container-width) - 100vw) / 2) + 10px);
          padding-left: calc(((100vw - var(--container-width)) / 2) - 10px);
          padding-right: 8%;
        }
      }
    }

    .right {
      width: auto;
      border: 2px solid var(--color-orange);
      border-right: none;

      margin-right: calc((( var(--container-width) - 100vw ) / 2) + 8px);
      padding-right: calc((( 100vw - var(--container-width) ) / 2) - 12px);

      .title {
        margin-right: calc((( var(--container-width) - 100vw ) / 2) + 12px);
        padding-right: calc((( 100vw - var(--container-width) ) / 2) - 12px);
        padding-left: 8%;
      }

      .list {
        .item {
          margin-right: calc((( var(--container-width) - 100vw ) / 2) + 12px);
          padding-right: calc((( 100vw - var(--container-width) ) / 2) - 12px);
          padding-left: 8%;
        }
      }
    }

    @media screen and (max-width: 1250px) {
      .left {
        width: auto;
        border: 2px solid var(--color-orange);
        border-left: none;
  
        margin-left: -5px;
        padding-left: 0;
  
        .title {
          margin-left: 0;
          padding-left: 15px;
        }
  
        .list {
          .item {
            margin-left: 0;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
  
      .right {
        margin-right: -5px;
        padding-right: 0;
  
        .title {
          margin-right: 0;
          padding-right: 15px;
          padding-left: 15px;
        }
  
        .list {
          .item {
            margin-right: 0;
            padding-right: 15px;
            padding-left: 15px;
          }
        }
      }
    }

    @media screen and (max-width: 712px) {
      grid-template-columns: 1fr;

      .left {
        margin-right: -5px;
        border-right: none;
      }

      .right {
        margin-left: -5px;
        border-left: none;
      }
    }
  }

  .sixth {
    background-color: var(--color-black);
    padding: 200px 0;
    border-radius: 40px;

    .container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 80px;

      .date {
        color: var(--dark-text);
        margin-bottom: 16px;
      }

      .left {
        .title {
          margin-bottom: 40px;
          color: var(--color-orange);
        }
        .image {
          width: 100%;
          height: 700px;
          position: relative;
          border-radius: 40px;
          overflow: hidden;

          &::before {
            content: '';
            display: block;
            background: linear-gradient(180deg, rgba(0,0,0,0.75) 0%, transparent 64%);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            position: absolute;
          }
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;

        .top {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .title {
            margin-left: -500px;
            margin-bottom: 30px;
            font-weight: 500;
            text-decoration: underline;
            position: relative;
            z-index: 2;
          }

          .description {
            margin-bottom: 32px;
          }
        }

        .bottom {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .row {
            .body-1 {
              text-decoration: underline;
            }
          }

          .border {
            display: block;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1025" height="2" viewBox="0 0 1025 2" fill="none"><path d="M0 0.999996L1024.5 0.999953" stroke="%23EA8C00" stroke-opacity="0.4" stroke-dasharray="8 8"/></svg>');
            width: 100%;
            height: 2px;
            margin: 40px 0;
          }

          .button-4 {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-top: 32px;

            .body-3-salara {
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1200px) {
      padding: 50px 20px;
      .container {
        grid-template-columns: 1fr;
        gap: 30px;

        .left {
          .image {
            height: auto;
          }
        }

        .right {
          .top {
            .title {
              margin-left: 0;
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}


.modal-box {
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: none;
  align-items: center;

  .modal {
    background-color: var(--color-black);
    width: 90%;
    margin: 0 auto;
    border: 1px solid rgba(234, 140, 0, 0.40);

    display: grid;
    grid-template-columns: 45fr 55fr;
    gap: 62px;
    position: relative;

    .tab-slides {
      display: none;
    }
    .close {
      background-color: var(--color-orange);
      box-shadow: 0px 0px 84px 2px rgba(234, 140, 0, 0.70);
      width: 64px;
      height: 64px;
      border-radius: 100%;
      position: absolute;
      top: 18px;
      right: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;
    }

    .slider-wrapper {
      position: relative;
      .btns {
        display: flex;
        gap: 4px;
        align-items: center;
        position: absolute;
        z-index: 15;
        bottom: 35px;
        right: -45px;

        button {
          background-color: #2E2C29;
          padding: 45px 65px;
          border-radius: 60px;
          color: rgba(216, 205, 187, 0.4);
        }
        button[aria-disabled=false] {
          background-color: var(--color-orange);
          box-shadow: 0px 0px 84px 2px rgba(234, 140, 0, 0.70);
          color: #fff;
          opacity: 1;
        }
      }

      #modal-slider {
        width: 100%;
        height: 800px;
        overflow: hidden;
        position: relative;
        .swiper-wrapper {
          height: 100%;
          .swiper-slide {
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    
    .content {
      max-width: 800px;
      padding-top: 85px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .top {
        display: flex;
        align-items: center;
        gap: 32px;

        img {
          width: 143px;
          height: 99px;
        }
      }

      .middle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tabs {
          display: flex;
          flex-wrap: wrap;
          border-radius: 98px;
          border: 1px solid rgba(234, 140, 0, 0.10);
          padding: 4px;

          button {
            padding: 24px 36px;
            border-radius: 100px;
            text-transform: uppercase;
          }

          .active {
            border-radius: 100px;
            background: rgba(234, 140, 0, 0.10);
            color: var(--color-orange);
            font-weight: 700;
          }
        }
      }

      .bottom {
        .tab-content {
          display: none;
        }
        .tab-content.visible {
          display: block;
        }
        .row {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }

  @media screen and (max-width: 1250px) {
    padding: 100px 0;
    overflow: auto;

    .modal {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .slider-wrapper {
        .btns {
          right: 25px;
          button {
            padding: 15px 25px;
          }
        }
        #modal-slider {
          height: 400px;
        }
      }

      .content {
        padding: 15px;

        .top {
          .H0 {
            font-size: 24px;
          }
          img {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 712px) {
    padding: 0;
    overflow: auto;

    .modal {
      top: 50px;
      right: 15px;
      left: 15px;

      position: absolute;
      .content {
        .middle {
          flex-direction: column;
          gap: 15px;

          .tabs {
            width: 100%;
            border: none;
            flex-direction: column;
            gap: 15px;

            button {
              border: 1px solid rgba(234, 140, 0, 0.10);
              font-size: 14px;
              padding: 14px 0;
            }
          }
        }
      }
    }
  }
}
.modal-box-opened {
  display: flex;
}