.wrapper {
  .container {
    content {
      .H0 {
        margin-bottom: 100px;
      }
      .slider-container {
        max-width: 870px;
        width: 100%;
        position: relative;
        overflow: hidden;

        .swiper-wrapper {
          .swiper-slide {
            filter: brightness(50%) grayscale(0%);
            max-width: 400px;

            img {
              width: 100%;
              border-radius: 40px;
            }
          }
          .swiper-slide-active {
            filter: none;
          }
        }
      }

      .modal {
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        z-index: 99;

        img {
          width: 100%;
          height: auto;
        }
      }
      .modal.show {
        display: flex;
      }
    }
    aside {
      display: flex;
      flex-direction: column;
      padding: 100px 0 100px 100px;
      position: relative;

      .border {
        width: 100%;
        height: 2px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1025" height="2" viewBox="0 0 1025 2" fill="none"><path d="M0 0.999996L1024.5 0.999953" stroke="%23EA8C00" stroke-opacity="0.4" stroke-dasharray="8 8"/></svg>');
        margin: 80px 0;
      }

      .box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .pagination {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-right: calc(var(--padding-calc));

          .orange {
            color: var(--color-orange);
          }
          .info {
            display: flex;
            align-items: center;
            gap: 70px;  
            margin-bottom: 24px;
          }
          .btns {
            display: flex;
            align-items: center;
            gap: 4px;
  
            .prev, .next {
              padding: 45px 60px;
            }
          }
        }

        .form-box {
          padding-right: calc(var(--padding-calc));
          form {
            width: 290px;
            display: flex;
            flex-direction: column;

            .H1 {
              margin-bottom: 32px;
            }

            input {
              border-radius: 58px;
              border: 1px solid #563B12;
              padding: 24px 32px;
              color: var(--color-orange);
              margin-bottom: 4px;

              &::placeholder {
                color: #563B12;
              }
            }

            button {
              margin-top: 12px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1500px) {
    .container {
      aside {
        .box {
          align-items: center;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .container {
      grid-template-columns: 1fr;

      content {
        padding-right: 10px;
      }

      aside {
        padding: 50px 0;

        .border {
          margin: 50px 0;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .container {

      content {
        padding-top: 32px;
        padding-bottom: 32px;
        .H0 {
          font-size: 32px;
          margin-bottom: 32px;
          text-align: center;
        }
      }

      aside {
        padding: 50px 0;

        .box {
          .pagination {
            display: none;
          }
        }
        .border {
          display: none;
          // margin: 50px 0;
        }
      }
    }
  }
}